
<div id="todoapp">

  <header>
    <h1>Todos</h1>
    <input id="new-todo" type="text" placeholder="What needs to be done?">
  </header>

  <section id="main">
    <input id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list"></ul>
  </section>

  <footer>
    <a id="clear-completed">Clear completed</a>
    <div id="todo-count"></div>
  </footer>

</div>

<div id="instructions">
  Double-click to edit a todo.
</div>

<div id="credits">
  Created by
  <br />
  <a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>.
  <br />Rewritten by: <a href="http://addyosmani.github.com/todomvc">TodoMVC</a>.
</div>

<!-- Templates -->

<script type="text/x-handlebars-template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" {{#if done}} checked="checked" {{/if}} />
      <label>{{title}}</label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="" />
  </script>

<script type="text/x-handlebars-template" id="stats-template">

    <div class="todo-count"><b><%= @remaining %></b> left</div>
  </script>